extends ./layout.jade
block content
	#wrapper
		#left.container
			p This is some text about the project
		#right.container
			form(id='uploadForm',action="/upload",enctype="multipart/form-data", method="post")
				input(type="file",id='file', name="fbdata")
				input(type="submit" value="Upload")
			ul
    
