extends ./layout.jade
block content
	p hello
	form(id='uploadForm',action="/upload",enctype="multipart/form-data", method="post")
		input(type="file",id='file', name="fbdata")
		input(type="submit" value="Upload")


    
