head
	title Bad Judgement
	link(rel='stylesheet',href='/static/css/styles.css', type='text/css') 
	link(rel='stylesheet',href='/static/css/styles.css', type='text/css') 
	link(href='https://fonts.googleapis.com/css?family=Poiret+One|Raleway' rel='stylesheet' type='text/css')