body{
	width:100%;
	font-family: 'Raleway', sans-serif;
}
#wrapper{
	width:90%;
	height:100%;
	margin:10px auto;
	position:relative;
}

#left{
	width:33%;
	height:100%;
	float:left;
	position:fixed;
	box-sizing:border-box;
	border-right:1px solid black;
	padding:10px;
	h2{
		text-align:center;
	}
}
#right{
	width:55%;
	max-height:700px;
	overflow:scroll;
	box-sizing:border-box;
	float:right;
}