body{
	width:100%;
	font-family: 'Raleway', sans-serif;
}
p{ font-size:14px;}
#wrapper{
	width:90%;
	height:100%;
	margin:10px auto;
	position:relative;
}

#left{
	width:33%;
	height:100%;
	overflow-y: scroll;
	float:left;
	position:fixed;
	box-sizing:border-box;
	border-right:1px solid black;
	padding:10px;
	overflow:scroll;
	padding-bottom: 60px;
	h2{
	
	}
}
#right{
	width:55%;
	max-height:700px;
	overflow:scroll;
	box-sizing:border-box;
	padding:10px;
	float:right;
}
form{
	margin:150px auto;
	text-align:center;
	border:1px solid black;
	padding:10px;
}