body{
	width:100%;
}
#wrapper{
	width:90%;
	height:100%;
	margin:10px auto;
	position:relative;
}

#left{
	width:33%;
	height:100%;
	float:left;
	position:fixed;
	border-right:1px solid black;
}
#right{
	width:66%;
	max-height:700px;
	overflow:scroll;
	
	float:right;
}